
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error 404</title>
</head>
<body>
    <div class="text-primary vh-100 text-center mt-5">
        <i class="eErorr bi bi-emoji-dizzy"></i>
        <h1 class="mt-4">Bir hata oluştu, istediğiniz sayfa bulunamadı.</h1>
        <div class="mt-4 fs-5"> Lütfen adresi kontrol edip tekrar deneyin veya ana sayfaya dönün.</div>
    </div>
</body>
</html>

