    @model List<Ogretmen_Ozel.Models.Subject>
@{
    ViewBag.Title = "Home Page";

}
<main>
@*Home page*@

    <div class="container">
        <div class="page-banner home-banner">
            <div class="row align-items-center flex-wrap-reverse h-100">
                <div class="col-md-6 py-5 wow fadeInLeft">
                    <h1 class="mb-4">Özel öğretmene hoş geldiniz</h1>
                    <p class="text-lg text-grey mb-5">Tüm eğitim seviyelerine yönelik özel dersler için ilk platform</p>
                    <a href="#" class="btn btn-primary btn-split">Derslere git<div class="fab"><i class="bi bi-chevron-double-down"></i></div></a>
                </div>
                <div class="col-md-6 py-5 wow zoomIn">
                    <div class="img-fluid text-center">
                        <img src="~/Content/photos/HomeImg.svg" alt="Homeimg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section">
        <div class="container">
            <hr />
                <div class="row my-5">
            @foreach (var s in Model)
            {
                    <div class="col-lg-4 py-3">
                        <div class="card-blog">
                            <div class="header">
                                <div class="post-thumb img-fluid">
                                    <img class="w-100 h-100" src="https://lh3.google.com/u/0/d/10JJ82lCm3qomwkmLSf6pOgUQpirXBxDZ=w1920-h897-iv1" alt="">
                                </div>
                            </div>
                            <div class="body">
                                <h5 class="post-title">
                                @Html.ActionLink(s.SubjectName,"TeachersPage",null,null)
                                </h5>
                                <div class="post-date">@s.SubjectDescription</div>
                            </div>
                        </div>
                    </div>
            }
                </div>

        </div>
    </div>

</main>