<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div class="text-primary vh-100 text-center mt-5">
        <i class="eErorr bi bi-emoji-dizzy"></i>
        <h1 class="mt-5">Bir hata oluştu.</h1>
    </div>
</body>
</html>
